// Place all the styles related to the Cakes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cakes-wrapper {
    display: flex;
    flex-wrap: wrap;
    
    .card {
        margin: 0 5px;
        
    }
}